/* import fomt */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* container */
.container{
    /* width: 1440px; */
    height: 1024px;
    display: flex;
    font-family: "Inter", sans-serif;
}
/* admin page image */
.admin-page-img{
    width: 505px;
    height: 1000px;
    margin: 12px 0;
    margin-left: 26px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(45, 95, 245, 0.3), #0e1e30), url(../assets/img/2c0cf5b52655a1c2fd8a96a181fcbf85ee74a8c1.jpg);
    background-size: cover;
    background-position: center;
}
/* text on the admin page image */
.img-text{
    position: absolute;
    top: 850px;
    width: 415px;
    height: 90.5px;
    left: 55px;
    color: #ffffff;
}
.logo-img{
    width: 33.9px;
    height: 24.5px;
    margin-right: 10px;
}
.logo-img-text{
    font-size: 32px;
    letter-spacing: 15px;
}
.smart{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 36px;
}
/* workpruf admin login form */
.form-container{
    width: 450px;
    height: 492px;
    position: relative;
    left: 215px;
    top: 266px;
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    padding: 36px;
    box-shadow: 0 10px 10px -10px #b2b2b2,
                10px 0 10px -10px #b2b2b2,
                -10px 0 10px -10px #b2b2b2;
}
.workpruf-form{
    place-self: center;
    width: 144px;
    height: 56px;
    margin-bottom: 1px;
}
.form-container .form-logo-img{
    width: 33.9px;
    height: 23.28px;
}
.form-container .form-logo-text{
    margin-left: -9px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 600;
    font-size: 18px;
}
.form-container .desc{
    width: 237px;
    height: 24px;
    place-self: center;
}
.form-container .desc .desc-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}
/* form input field */
.form-container .form-input{
    width: 378px;
    height: 176px;
    margin: 12px 0;
}
.form-input .input-container{
    width: 378px;
    height: 82px;
}
.input-container label{
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -4%;
    display: block;
    margin: 8px 0;
}
.input-container .input-email{
    width: 378px;
    height: 55px;
    border: 1px solid #e2e4e9;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
}
.password{
    width: 378px;
    height: 55px;
    border: 1px solid #e2e4e9;
    border-radius: 8px;
    padding: 5px;  
}
.input-container .input-password{
    width: 330px;
    height: 45px;
    border: none;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
}
::placeholder{
    color: #cdd0d5;
}
.input-container input:focus{
    outline: none;
}
#eye-icon{
    color: #b2b2b2;
    cursor: pointer;
}
.form-container #submit-btn{
    width: 378px;
    height: 55px;
    border: 1.5px solid #1a4b84;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -4%;
    background-color: transparent;
    cursor: pointer;
    margin: 10px 0;
    color: #1a4b84;
}
#submit-btn.focused{
    background-color: #1a4b84;
    color: #ffffff;
}
.form-container .forgot-password-container{
    width: 121px;
    height: 16px;
    margin-top: 8px;
    place-self: center;
}
.form-container .forgot-password{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    color: #1a4b84;
    text-decoration: none;
}
